	*{
		margin: 0;
		padding: 0;
	}
	header{
		background-image: url('../images/bg.jpg');
		background-size: cover;
		background-size: 100% 100%;
		width: 100%;
	    position: relative;
	}
	#nav_header1{
		position: relative;
		margin: 0 auto;
		width: 90%;
	}
	.aline_logo{
		width: 30%;
	}
	.nav_bar{
		padding: 45px 0 30px 0;
		display: flex;
		position: relative;
	}
	.nav_list{
		position: relative;
		margin: 0 auto;
		padding-top: 20px;
		width: 70%;
		font-family: "SourceSansPro-Light";
		letter-spacing: 1px;
		text-align: right;
		color: #fff;
		font-size: 18px;
	}
	.nav_list a{
		text-decoration: none;
		margin-right: 5%;
		color: #fff;
	}
	.paragraph_section1{
		margin-right: 4%;
		padding-bottom: 30px;
		text-decoration: none;
		color: #fff;
	}
	.heading{
		color: #fff;
		font-family: "knewave";
		font-size: 40px;
		letter-spacing: 5px;
		padding: 40px 0 40px 0;
	}
	.box_text{
		color: #fff;
		font-family: "SourceSansPro-Light";
		padding: 20px 20px 20px 20px;
		background-color: #8b7e2e;
		border: none;
		text-align: center;
		font-size: 20px;
		letter-spacing: 1px;
	}
	.h1_header{
		margin-bottom: 0;
	}
	.slide_down{
		padding: 120px 0 60px 0;
		display: block;
		text-align: center;
	}
	.section1_about{
		background-color: #9f6807;
	}
	.detail_description{
		padding:25px 0 40px 0;
		margin: 0 auto;
		width: 75%;
	}
	.section1_header{
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: 8px;
		font-family: "SourceSansPro-Semibold";
		font-size: 35px;
		text-align: center;
	}
	.description{
		box-sizing: border-box;
		padding-top: 40px;
   		padding-bottom: 30px;
		letter-spacing: 1px;
		font-size: 20px;
		font-family: "SourceSansPro-ExtraLight";
		color: #fff;
	}
	#stars{
		display: block;
		background-size: 100% 100%;
		width: 2%;
		margin: auto;
		padding: 4px 5px 4px 5px;
		background-image: url('../images/stars.png');
	}
	.section2_services,.information{
		margin: 0 auto;
		width: 100%;
		position: relative;
		padding-top: 40px;
    	padding-bottom: 40px;
	}
	.information{
		padding-top: 25px;
	}
	.section3_information{
		background-color: #9f6807;		
	}
	.section2_header{
		letter-spacing: 1px;
		color: black;
		margin-bottom: 8px;
		font-family: "SourceSansPro-Semibold";
		font-size: 35px;
		text-align: center;
	}
	.section3_header{
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: 8px;
		font-family: "SourceSansPro-Semibold";
		font-size: 35px;
		text-align: center;
	}
	.services_offered{
		padding: 80px 0 40px 0;
		text-align: center;
		display: flex;
		width: 100%;
	}
	.service1{
		width: 30%;
	}
	.service2{
		width: 37%;
	}
	.service3{
		width: 33%;
	}
	.service_details{
		padding-top: 20px;
		font-family: "SourceSansPro-Regular";
		font-size: 30px;
	}
	.section3_align_box{
		padding-top: 30px;
		display: flex;
		width: 85%;
		margin: 0 auto;
		padding-bottom: 50px;
	}
	.section3_list{
		list-style-type: none;
		padding: 0;
		/*color: #fff;*/
	}
	.section3_list li{
		display: flex;
		background-color: #fff;
		position: relative;
		margin-bottom: 20px;
	}
	.box_division{
		width: 45%;
	}
	.box_division1{
		width: 45%;
		padding-left: 156px;
	}
	.division_align_info{
		padding-left: 15px;
		width: 60%;
	}
	.images_box{
		width: 40%;
	}
	.box_divions2{
		width: 40%;
	}
	#images_diviosn2{
		width: 100%;
	}
	.box1_paragraph{
		margin-top: 0;
		font-family: "SourceSansPro-Regular";
		font-size: 20px;
		letter-spacing: 0.5px;
	}
	.fa{
		text-decoration: none;
		color: #fff;
	}
	#box_division2{
		width: 100%;
	}
	.h5_box_header{
		padding-top: 16px;
		margin-bottom: 8px;
		font-family: "SourceSansPro-Regular";
		font-size: 12px;
	}
	.box_header1,.box_header2{
		color: #fff;
		margin-bottom: 10px;
		font-size: 22px;
		letter-spacing: 1px;
		font-family: "SourceSansPro-Regular";
	}
	.box_header2{
		text-align: right;
	}
	.underline_header,.underline_header1{
		margin: 0 auto;
		width: 150px;
	}
	.underline_header{
		border-bottom: 2.5px solid #9f6807;
	}
	.underline_header1{
		border-bottom: 2.5px solid #fff;
	}
	.section4_contact_details{
		background-color: #67696a;
	}
	.contact_details1{
		position: relative;
		display: flex;
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 85%;
	}
	.col1_text_image{
		padding: 20px 0 0 10px;
	}
	.contact_column1{
		/*padding-left: 20px;*/
		width: 40%;
	}
	.contact_column2{
		padding: 0 15px 0 10px;
		color: #fff;
		width: 30%;
	}
	.contact_column3{
		padding: 0 15px 0 15px;
		width: 34%;
	}
	.col1_column1{
		padding-top: 10px;
		display: flex;
		position: relative;
	}
	#notexpert{
		/*width: 70%;*/
		display: block;
		padding-top: 25px;
	}
	.col1_image{
		width: 35%;
	}
	.contact_column1_header,.contact_column1_header2{
		font-size: 18px;
		padding-bottom: 20px;
		color: #fff;
		font-family: "SourceSansPro-Bold";
	}
	.contact_column1_header2{
		padding-left: 10px;
	}
	.col1_paragraph{
		font-size: 19px;
		color: #fff;
		font-family: "SourceSansPro-It";
	}
	.col1_col2_paragraph{
		font-family: "SourceSansPro-Regular";
		font-size: 18px;
		color: #fff;
	}
	.arrows{
		padding-top: 15px;
		display: block;
	}
	#left_arrow{
		margin-right: 10px;
	}
	#right_arrow{
		margin-left: 10px;
	}
	.col2_details{
		font-family: "SourceSansPro-Regular";
		font-size: 18px;
		padding: 1px 0 30px 10px;
		line-height: 28px;
	}
	.icons_socialsites{
		padding: 10px 0 35px 0;
		font-size: 40px;
		color: #fff;
	}
	.icons_socialsites a{
		margin-right: 10px;
	}
	.col3_list{
		list-style-type: none;
		padding: 0;
		letter-spacing: 0.5px;
		line-height: 30px;
		font-family: "SourceSansPro-Regular";
		color: #fff;
		font-size: 18px;
	}
	#container{
		margin: 0 auto;
		width: 1200px;
	}
	.col3_list_i{
		margin-right: 7px;
		border: solid #fff;
		border-width: 0px 2px 2px 0;
		display: inline-block;
		padding: 4px;
	}
	.para_contact1{
		color: #2f3e6c;
		margin: 0;
		border: none;
		background-color: #fff;
		font-size: 18px;
		text-decoration: none;
		border-radius: 35px;
		font-weight: bold;
		font-family: "SourceSansPro-Regular";
		padding: 15px 20px 15px 20px;
	}
	#mail{
		padding: 5px 20px 0 15px;
	}
	.box_mail{
		width: 100%;
	}
	.media_partners{
		font-family: "SourceSansPro-Regular";
		color: #fff;
		font-size: 18px;
		padding:25px 10px 0 0;
	}
	.media{
		opacity: 0.7;
		display: flex;
	}
	#footer{
		background-color: #5d5d5d;
	}
	.footer_content{
		font-family: "SourceSansPro-Regular";
		padding: 20px 0 20px 0;
		font-size: 18px;
		margin: 0 auto;
		width: 95%;
		color: #fff;
		display: flex;
		justify-content: center;
	}
	.underline{
		margin-right: 12px;
		text-decoration: underline;
	}
	#contac{
		margin-right: 0;
	}
	.labguages{
		top: 20px;
		position: absolute;
		right: 0;
		font-size: 13px;
		font-family: "SourceSansPro-Light";
		list-style-type: none;
		padding: 0;
		color: #fff;
		display: flex;
	}
	.labguages li{
		margin: 0;
		letter-spacing: 1px;
		line-height: 11px;
	}
	.footer_checked{
		margin: 0;
		padding-right: 20px;
	}
	#fr{
		padding-right: 5px;
		border-right: 1px solid #fff;
	}
	#en{
		padding-left: 5px;
	}
	.lang{
		margin: 0 auto;
		width: 90%;
	}
	.right {
		transform: rotate(-45deg);
	}
	.nav1_bar_required{
		position: absolute;
		right: 0;
		list-style: none;
		display: flex;
	}
	.nav1_bar_required li{
		margin-right: 10%;
	}
	@font-face{
		font-family: "knewave";
		src:url("../fonts/knewave.ttf");
	}
	@font-face{
		font-family: "SourceSansPro-Light";
		src:url("../fonts/SourceSansPro-Light.otf");
	}
	@font-face{
		font-family: "SourceSansPro-Semibold";
		src:url("../fonts/SourceSansPro-Semibold.otf");
	}
	@font-face{
		font-family: "SourceSansPro-ExtraLight";
		src:url("../fonts/SourceSansPro-ExtraLight.otf");
	}
	@font-face{
		font-family: "SourceSansPro-Regular";
		src:url("../fonts/SourceSansPro-Regular.otf");
	}
	@font-face{
		font-family: "SourceSansPro-Bold";
		src:url("../fonts/SourceSansPro-Bold.otf");
	}
	@font-face{
		font-family: "SourceSansPro-It";
		src:url("../fonts/SourceSansPro-It.otf");
	}
	@media only screen and (max-width: 1200px){
		.contact_column1{
			padding-left: 0;
			width: 40%;
		}

	} 